body {
	font-family:"Helvetica-Neue","Helvetica","Arial","Tahoma",sans-serif;
	font-weight:100;
}

h1,h2,h3,h4,h5,h6 {
	font-weight:normal;
}

h4.huge {
	box-sizing: border-box;
	display: block;
	font-size: 50px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	letter-spacing: normal;
	line-height: 40px;
	margin-bottom: 10px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 10px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	text-rendering: optimizelegibility;
	vertical-align: baseline;
}

p {
	display: block;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: normal;
	margin-bottom: 10px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	vertical-align: baseline;
	line-height:1.5em;
}

ol li,
ul li {
	margin-bottom:10px;
	font-size:13px;
}


h3.title {
	font-size:36px;
}

div.span1 {
	width:8%;
}

div.span2 {
	width:16%;
}

div.span3 {
	width:24%;
}

div.span4 {
	width:32%;
}

div.span5 {
	width:40%;
}

div.span6 {
	width:48%;
}

div.span7 {
	width:57%;
}

div.span8 {
	width:65%;
}

div.span9 {
	width:73%;
}

div.span10 {
	width:81%;
}

div.span11 {
	width:89%;
}

div.span12 {
	width:99%;
}