.client-description h2 {
    font-size: 18px;
    margin-bottom: 0;
}

.video-overlayNew {
    height: 100px;
    background-color: rgba(189, 189, 189, 0.7);
    width: 100px;
    position: absolute;
    border-radius: 50%;
    left: 44%;
    top: 42%;
    -webkit-transition: width 2s, height 2s, background-color 0.1s, -webkit-transform 0.1s;
    transition: width 2s, height 2s, background-color 0.1s, transform 0.1s;
}

#play-video:hover .video-overlayNew{
    background-color: rgba(0, 0, 0, 0.5);
}

.video-overlayNew:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.client-description div {
    margin-bottom: -30px;
}

h2.hugeQuote {
    font-weight: 700;
    font-size: 55px;
    text-align: center;
    line-height: 55px;
}

.bx-controls-direction {
	position: absolute;
	top: 0;
	left: 0;
	width: 100VW;
	height: 450px;
}

.centerBigImage {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.centerBigImage p {
    font-weight: 700;
    font-size: 16px;
}

a.bx-next {
	background: url('/images/icons/next-arrow.png') no-repeat;
	display: block;
	height: 30px;
	text-indent: -9999px;
	width: 30px;
	position: absolute;
	right: 35px;
	top: 250px;
}

a.bx-prev {
	background: url('/images/icons/prev-arrow.png') no-repeat;
	display: block;
	height: 30px;
	text-indent: -9999px;
	width: 30px;
	position: absolute;
	left: 50px;
	top: 250px;
}

img.case-study-ipad-image {
	position: absolute;
	bottom: -100px;
	right: 0;
}

.top-offices{
	margin: 0 auto;
	display: table;
}

.product-info-box {
    width: 246px;
    height: 330px;
    background-color: #f6f5f5;
    float: left;
    margin: 10px;
}

a.slider-button:hover {
    background-color: #ffffff !important;
}

a.slider-button:focus {
    background-color: #ffffff !important;
}

button.close.right {
    position: absolute;
    right: 3px;
  z-index: 100;
}


a#sticky:hover {
    background-color: #2962ff;
}

.modal-body {
  padding: 1.8rem !important;
}

.modal-header {
    padding: 0 0 0 0;
    border-bottom: 0 !important;
      position: relative;
}

#copyright a {
    color: #aaa;
}

#footer-wrapper #copyright {
    padding-bottom: 20px;
    background-color: #262626;
}

.location-text {
    padding: 15px 15px;
    text-align: center;
    line-height: 29px;
    font-family: "Gotham A", "Gotham B";
    font-style: normal;
    margin-bottom: 0;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown:hover {
	background: #f4f3f3;

}

ul.dropdown-content.dropdown-resources-content {
    width: 200px;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	margin: initial;
	width: 200px;
}
.dropdown:hover .dropdown-content {
	color: #000000;
	background-color: #f4f3f3 !important;
}
.dropdown-products:hover .dropdown-products-content {
	display: block;
}
.dropdown-resources:hover .dropdown-resources-content {
	display: block;
}
.dropdown:hover .dropdown-content .main-menu .menu-item-type-custom {
	display: block;
	color: #000000;
	background-color: #f4f3f3 !important;
}
.dropdown:hover .dropdown-content a {
	color: #000000 !important;
}
.dropdown:hover .dropdown-content a:hover {
	color: #0276CE !important;
}
#sticky {
	background: #43515a url("http://www.aristaofrotorua.co.nz/rotorua-accommodation/images/email.jpg") no-repeat 88% center;
	font-family: "Gotham A", "Gotham B" !important;
	color: white;
	text-transform: uppercase;
	padding: 0 19px;
	outline: none;
	text-decoration: none;
	position: fixed;
	top: 300px;
	right: 40px;
	width: 165px;
	height: 40px;
	line-height: 45px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
	z-index: 999;
	font-size: 16px;
	font-weight: 700;
	background-color: #0276CE;
	cursor: pointer;
	letter-spacing: 1px;
	text-align: center;
}
#sticky a {
	color: #ffffff;
	font-family: "Gotham A", "Gotham B" !important;
}
.demo {
	top: 100px !important;
}
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
}
.col-xs-5ths {
	width: 20%;
	float: left;
}
@media (min-width: 768px) {
	.col-sm-5ths {
		width: 20%;
		float: left;
	}
}
@media (min-width: 992px) {
	.col-md-5ths {
		width: 20%;
		float: left;
	}
}
@media (min-width: 1200px) {
	.col-lg-5ths {
		width: 20%;
		float: left;
	}
}
form input.error {
	border: 1px solid #ff0000;
}
form label.error {
	color: #ff0000;
	margin-top: -0.5rem;
}

/*KMN nav */

#main_menu {
	text-align: left;
}
ul.main_menu li {
	margin: 0px 0px 5px 0 !important;
}
#logo img {
	max-width: 165px;
}

@media (max-width: 1340px) and (min-width: 1218px) {
	.span3.span-dt-3.span-tab-3.footer-menu:first-child {
    	margin-left: 10%;
    	width: 20%;
	}
	.span3.span-dt-3.span-tab-3.footer-menu{
	margin-left: 0%;
}
}
@media (max-width: 1217px) and (min-width: 986px) {
	img.footer-logo{
		display: none;
	}
}

@media (min-width: 979px) and (max-width: 1118px) {
	#main_menu {
		text-align: left;
	}
	ul#main_menu {
		padding-left: 30px;
	}
	ul.main_menu li {
		margin: 0 5px 0 0 !important;
	}
	ul#main_menu li a {
		padding: 0 5px;
	}
}
.footer-menu {
	font-family: "Gotham A", "Gotham B";
	font-style: normal;
	font-weight: 400;
}
.hr-slice p {
	font-size: 1rem;
	font-family: "Gotham A", "Gotham B";
	font-style: normal;
	font-weight: 700;
}
a.circle-arrow-link {
	font-family: "Gotham A", "Gotham B";
	font-style: normal;
	font-weight: 400;
}
strong {
	font-weight: 700;
}
p.location-text {
	font-family: "Gotham A", "Gotham B";
	font-style: normal;
	margin-bottom: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Gotham A", "Gotham B" !important;
}
a {
	font-family: "Gotham A", "Gotham B" !important;
}
p {
	font-family: "Gotham A", "Gotham B" !important;
}
.section {
	font-family: "Gotham A", "Gotham B" !important;
}

.mktoModalMain {
	width: 550px !important;
}
ul.main_menu li a img {
	margin: auto;
	margin-bottom: 2px;
}
.slider-case-featured-image-right {
	width: 419px;
	height: 510px;
    margin-top: -389px;
    margin-left: 670px;

}
.location.one-fifth {
	width: 260px;
    height: 330px;
	background-color: #f6f5f5;
	float: left;
	margin: 10px;
}
p.location-text {
	padding: 15px 15px;
	text-align: center;
	    line-height: 29px;
}
.hr-slice h2{
	font-size: 48px !important;
}
.hr-slice .btn-holder a{
	font-size: 15px !important;
}
.span6.footer-text-careers {
    width: 43%;
}
a.location-address-link {
	color: #0276CE;
}
.half {
	width: 50%;
	float: left;
}
.half.right {
	padding-left: 10px;
}
.half.left {
	padding-right: 10px;
}


a.slider-button {
    background-color: #c6ff00;
    height: 43px;
    width: 338px;
    display: -webkit-inline-box;
    text-transform: uppercase;
    color: #000000;
    padding: 13px;
    font-weight: 700;
}


button.slider-button {
    background-color: #c6ff00;
    height: 43px;
    width: 338px;
    display: -webkit-inline-box;
    text-transform: uppercase;
    color: #000000;
    padding: 13px;
    font-weight: 700;
	    border: none;
		cursor: pointer;
}


button.slider-button:hover {
    background-color: #ffffff;
}


button.slider-button:focus {
    background-color: #ffffff;
}




@media (max-width: 850px) {
	.location.one-fifth{
		width: 200px;
	}
	.footer-text-careers{
		width: 65% !important;
		position: absolute !important;
		right: 0 !important;
	}
	.headerText.subHeader h2{
		font-size: 20px !important;
		line-height: 23px !important;
		width: 290px !important;
		left: 12% !important;
	}
	.slider-button.subHeader-btn-left{
		font-size: 11px !important;
		width: 240px !important;
		height: 35px !important;
		padding: 8px !important;
		padding-left: 16px !important;
		left: 12% !important;
	}
	.slider-button.subHeader-btn-right{
		font-size: 11px !important;
		width: 105px !important;
		height: 35px !important;
		padding: 8px !important;
		padding-left: 16px !important;
		left: 12% !important;
	}
	.headerText.mainHeader{
		font-size: 26px !important;
	}
	.slider-button.mainHeader{
		left: 35% !important;
	}


	.bottom-offices {
    	margin-left: 20%;
	}
	.slider-tablet-text{
		font-size: 24px !important;
	}
	.slider-tablet-text-sub{
		    font-size: 15px;
	}
}


@media (max-width: 1000px) and (min-width: 851px) {
	.location.one-fifth{
		width: 200px;
	}
	.footer-text-careers{
		width: 65% !important;
		position: absolute !important;
		right: 0 !important;
	}
	.headerText.subHeader{
		font-size: 20px !important;
		line-height: 23px !important;
		width: 290px !important;
		left: 12% !important;
		bottom: 50% !important;
	}
	.headerText.subHeader h2{
		font-size: 20px !important;
		line-height: 23px !important;
		width: 290px !important;
		left: 12% !important;
		bottom: 50% !important;
	}
	.slider-button.subHeader-btn-left{
		font-size: 11px !important;
		width: 240px !important;
		height: 35px !important;
		padding: 8px !important;
		padding-left: 16px !important;
		left: 12% !important;
	}
	.slider-button.subHeader-btn-right{
		font-size: 11px !important;
		width: 105px !important;
		height: 35px !important;
		padding: 8px !important;
		padding-left: 16px !important;
		left: 12% !important;
	}
	.headerText.mainHeader{
		font-size: 32px !important;
	}
	.slider-button.mainHeader{
		left: 38% !important;
	}


	.bottom-offices {
    	margin-left: 24%;
	}
	.slider-tablet-text{
		font-size: 24px !important;
	}
}


@media (max-width: 1205px) and (min-width: 1001px) {
	.headerText.subHeader {
    	top: -62px !important;
	}
}

@media (max-width: 1195px) and (min-width: 1001px) {
	.headerText.mainHeader{
		padding-top: 13%;
		font-size: 36px;
	}
}

@media (min-width: 1376px) and (max-width: 1500px) {
	.headerText.mainHeader{
		padding-top: 13%;
		font-size: 36px;
	}
}

@media (min-width: 1375px) and (max-width: 1196px) {
	.headerText.mainHeader{
		padding-top: 13%;
		font-size: 46px;
	}
}

@media (min-width: 1501px) and (max-width: 1850px) {
	.headerText.mainHeader{
		padding-top: 13%;
		font-size: 46px;
	}
	.slider-button.mainHeader{
		left: 44% !important;
	}

	.bx-controls.bx-has-pager {
		left: 48% !important;
	}
}

@media (min-width: 1851px) {
	.headerText.mainHeader{
		padding-top: 8%;
	}
	.slider-button.mainHeader{
		left: 45% !important;
	}

	.bx-controls.bx-has-pager {
		left: 50% !important;
	}
}

.bx-pager-item {
    margin: auto;
    width: 30px;
}


a.bx-pager-link {
    background: #cccccc;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 10px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.bx-wrapper {
    position: relative;
}

a.bx-pager-link.active {
    background: #ccff00;
}
.bx-viewport {
	overflow: visible !important;
}

.slider-case-study section{
	overflow: visible !important;
}


@media(max-width: 825px){
	.top-offices {
    	/*margin-left: auto;*/
	}
}




@media(min-width: 980px){
	.only-mobile{
		display: none !important;
	}
}

@media(max-width: 980px){
	.never-mobile{
		display: none !important;
	}

	.support-text{
		width: auto !important;
		margin-top: 30px;
	}



	.slider-case-featured-image-right{
   width: 419px;
   height: 510px;
   margin-top: -371px;
   margin-left: 380px;
}

	.tms-editor.tms-inline.slider-tablet-text-sub p {
    width: 367px !important;
}

}

@media (max-width: 1003px) and (min-width: 981px) {
	.slider-case-featured-image-right{
	   margin-top: -347px;
    	margin-left: 506px;
	}
}

@media (max-width: 1108px) and (min-width: 1004px) {
	.slider-case-featured-image-right{
	   margin-top: -434px;
	   margin-left: 380px;
	}
}

@media (max-width: 851px) {
	.slider-case-featured-image-right{
	   margin-top: -365px;
	   margin-left: 344px;
	}

	.headerText.subHeader{
		   top: -40px !important
	}
}

.headerText.subHeader {
    top: -100px;
}

@media (min-width: 1600px) (max-width: 1920px){
	.headerText.subHeader{

	}
}

@media (min-width: 1400px) and (max-width: 1509px) {
	.headerText.subHeader{

	}
}

@media(max-width: 880px){


	.support-text{
		font-size: 10px;
	}
}

.dropdown:hover .dropdown-content li {
    //margin-top: 10px !important;
	margin-bottom: 10px !important;
	width: 100%;
}

.tms-editor.tms-inline.slider-tablet-text-sub p {
    width: 598px;
}

h3.title.tms-editor.tms-inline.slider-tablet-text {
    font-size: 45px;
}

div.left-border{
	height: 244px !important;
}

@media (min-width: 1200px)
.products-grid .description {
    height: 110px !important;
}

@media (max-width: 1200px) {
	img.case-study-ipad-image {
		position: absolute;
		bottom: 30px;
		right: 0;
		width: 65%;
	}
}
