/**
 * Pretty printing styles
 */
.pln { color:#fffefe!important; }
pre .str { color:#f4645f; }
pre .kwd { color:#4bb1b1; }
pre .com { color:#888888; }
pre .typ { color:#ef7c61; }
pre .lit { color:#bcd42a; }
pre .pun,
pre .opn,
pre .clo { color:#ffffff; }
pre .tag { color:#4bb1b1; }
pre .atn { color:#ef7c61; }
pre .atv { color:#bcd42a; }
pre .dec,
pre .var { color:#660066; }
pre .fun { color:#ff0000; }

/*
pre.prettyprint
{
    background: #3F3F49;
    border: 0!important;
    border-radius: 2px;
    padding: 20px!important;
  display: block;
  overflow: hidden;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: monospace;
}

pre.prettyprint span
{
  font-size: 13px!important;
  /*font-weight: 600!important;
}
*/

.prettyprint {
display: block;
font-family:Monaco,Consolas,"Lucida Console",monospace;
background-color:#333;
font-size: 8px;
border:0;
color:#e9e4e5;
line-height:1.9em;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
-moz-background-clip:padding-box;
-webkit-background-clip:padding-box;
background-clip:padding-box;
padding: 20px!important;
white-space: pre;
overflow: hidden;
}

.prettyprint .pln {
color:#e9e4e5;
}

.prettyprint .com {
color:#888;
}

.prettyprint .pun,.prettyprint .opn,.prettyprint .clo {
color:#fff;
}

.prettyprint .dec,.prettyprint .var {
color:#606;
}

.prettyprint .fun {
color:red;
}

.prettyprint code {
font-family:Monaco,Consolas,"Lucida Console",monospace;
font-size: 11px;
}

.prettyprint .str,.prettyprint .lit,.prettyprint .atv {
color:#bcd42a;
}

.prettyprint .kwd,.prettyprint .tag {
color:#4bb1b1;
}

.prettyprint .typ,.prettyprint .atn {
color:#ef7c61;
}

ol.linenums
{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 5px;
}

ol.linenums li
{
    background: transparent!important;
    color: #888888;
    list-style-type: decimal !important;
    font-size: 14px!important;
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8
{
}