.tms-fr {
  float: right;
}
.tms-fl {
  float: left;
}
.tms-ml {
  margin-left: 8px;
}
.tms-mr {
  margin-right: 8px;
}
.tms-mt {
  margin-top: 8px;
}
.tms-mb {
  margin-bottom: 8px;
}
.tms-tal {
  text-align: left;
}
.tms-tar {
  text-align: right;
}
.tms-tac {
  text-align: center;
}
.tms-cursor {
  cursor: pointer;
}
form .tms-actions {
  padding-top: 15px;
}
.tms-two-column {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}
.tms-two-column > div {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  -o-column-break-inside: avoid;
  -ms-column-break-inside: avoid;
  column-break-inside: avoid;
  display: inline-block;
}
.tms-btn-info,
.tms-btn-danger,
.tms-btn-success,
.tms-btn {
  text-transform: uppercase;
  color: #a1a1a1;
  background-color: #d7d7d7;
  border-width: 0;
  font-weight: bold;
  font-size: 10px;
  padding: 3px 6px 4px;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
}
.tms-btn-info:hover,
.tms-btn-danger:hover,
.tms-btn-success:hover,
.tms-btn:hover {
  background-color: #fafafa;
}
.tms-btn-info {
  color: #ffffff;
  background-color: #20b2a8;
}
.tms-btn-info:hover {
  background-color: #26d5c9;
}
.tms-btn-success {
  color: #fff;
  background-color: #5f941b;
}
.tms-btn-success:hover {
  background-color: #73aa2b;
}
.tms-btn-danger {
  color: #fff;
  background-color: #be723f;
}
.tms-btn-danger:hover {
  background-color: #ed7d32;
}
.tms-item-list,
.tms-list-unstyled {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}
.tms-item-list > li,
.tms-list-unstyled > li {
  margin-left: 0;
  list-style-type: none;
  margin-bottom: 0;
}
.tms-item-list li {
  border-bottom: #e4e4e4 1px solid;
  background-color: #fafafa;
  color: #919191;
  zoom: 1;
}
.tms-item-list li:before {
  content: '';
  display: block;
}
.tms-item-list li:after {
  content: '';
  display: table;
  clear: both;
}
.tms-item-list li:first-child {
  clear: both;
  -webkit-border-radius: 3px 3px 0px 0px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px 3px 0px 0px;
  -moz-background-clip: padding;
  border-radius: 3px 3px 0px 0px;
  background-clip: padding-box;
}
.tms-item-list li:last-child {
  border-bottom-width: 0;
  -webkit-border-radius: 0px 0px 3px 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0px 0px 3px 3px;
  -moz-background-clip: padding;
  border-radius: 0px 0px 3px 3px;
  background-clip: padding-box;
}
.tms-item-list li div {
  padding: 7px 12px;
  height: 40px;
  line-height: 25px;
  border-left: 5px solid #20b2a8;
}
.tms-item-list li > div:hover {
  background-color: #20b2a8;
  color: #ffffff;
}
.tms-item-list li > div:hover > span.tms-btn {
  background-color: #fff;
  cursor: pointer;
}
.tms-item-list li.tms-break {
  background-color: #e1e1e1;
  border-bottom-color: #fafafa;
}
.tms-item-list li ul {
  clear: both;
  list-style-type: none;
  margin-left: 10px;
}
.tms-item-list li ul li {
  list-style-type: none;
}
.tms-section-title {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #a1a1a1;
}
.tms-alert {
  background-color: #e9c3c3;
  color: #5e2020;
  padding: 7px 12px;
  border: 1px solid #c45353;
  margin-bottom: 15px;
}
.tms-alert h4 {
  font-size: 13px;
  font-weight: 600;
}
.tms-editor {
  position: relative;
}
.tms-inline {
  cursor: pointer;
}
.tms-inline:hover {
  -webkit-box-shadow: 0px 0px 8px #20b2a8;
  -moz-box-shadow: 0px 0px 8px #20b2a8;
  box-shadow: 0px 0px 8px #20b2a8;
}
.tms-active:hover {
  box-shadow: 0px 0px 15px #4fcde4;
}
.tms-editor.tms-inline:after {
  display: inline-block;
  position: absolute;
  content: 'Editable';
  bottom: -10px;
  left: -60px;
  margin: 6px;
  padding: 4px;
  height: 20px;
  line-height: 20px;
  border-radius: 4px;
  background-color: pink;
  color: #c7254e;
  opacity: 0.6;
  font-weight: normal;
  font-size: 11px;
}
.tms-editor-inline-blocker,
.tms-editor-popup-blocker {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  /* Opinionated Styles */

  background-color: rgba(0, 0, 0, 0.8);
}
.tms-editor-popup {
  position: fixed;
  opacity: 0;
  width: 0;
  height: 0;
  overflow: scroll;
  z-index: 10002;
  /* Opinionated Styles */

  background-color: #eee;
  padding: 20px;
  border-radius: 6px;
  border: 8px solid #fff;
  max-height: 80%;
}
.tms-editor-popup button,
.tms-editor-inline button {
  margin-right: 5px;
}
/* Inline Styles */
.tms-editor-inline-blocker {
  background-color: transparent;
}
.tms-editor-inline {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  z-index: 10001;
}
.tms-editor-inline-wrapper {
  display: table;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px;
  border: 8px solid #fff;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}
.tms-editor-inline form {
  display: table-cell;
  vertical-align: middle;
}
.tms-editor-inline form label,
.tms-editor-inline form textarea,
.tms-editor-inline form input,
.tms-editor-inline form button {
  color: #444;
}
.tms-editor-inline form textarea,
.tms-editor-inline form input {
  width: 100%;
  padding: 8px 10px;
}
.tms-editor-inline form input {
  height: auto;
}
.tms-editor-inline form input[type="file"] {
  width: 100%;
  background-color: #fff;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  padding: 10px;
}
.tms-editor-inline form button.tms-btn-danger,
.tms-editor-inline form button.tms-btn-success {
  color: #fff;
}
.tms-editor-inline form button.tms-btn:hover {
  color: #444;
}
.tms-editor-popup form .form-group {
  padding-bottom: 15px;
}
.tms-editor-popup form textarea,
.tms-editor-popup form input {
  color: #444;
}
.tms-editor-popup form label {
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
  color: #5e5e5e;
}
.tms-editor-popup form textarea,
.tms-editor-popup form input {
  width: 100%;
  padding: 8px 10px;
}
.tms-editor-popup form input {
  height: auto;
}
.tms-editor-popup form input[type="file"] {
  width: 100%;
  background-color: #fff;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  padding: 10px;
}
.tms-editor-popup form button.tms-btn-danger,
.tms-editor-popup form button.tms-btn-success {
  color: #fff;
}
.tms-editor-popup form button.tms-btn:hover {
  color: #444;
}
.tms-editor-popup form .tms-link-type {
  display: none;
}
.tms-editor-popup form .tms-link-type.active {
  display: block;
}
.tms-editor-inline label {
  background-color: rgba(255, 255, 255, 0.75);
  font-weight: bold;
  padding: 8px 15px;
  margin-bottom: 0;
}
.tms-editor-dropzone {
  cursor: copy;
  margin-top: 8px;
  width: 100%;
  height: 100px;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  border-radius: 6px;
  color: #2b542c;
  text-align: center;
}
.tms-editor-dropzone h4 {
  line-height: 80px;
  font-size: 12px;
  text-transform: uppercase;
  text-shadow: -1px -1px -1px #000000;
}
.tms-editor-dropzone:hover {
  background-color: #d6e9c6;
}
.tms-editor-dropzone:hover h4 {
  color: #538c55;
}
.tms-admin-bar {
  position: fixed;
  z-index: 11000;
  top: -25px;
  width: 100%;
  height: 40px;
  padding: 10px 0;
  background-color: #fafafa;
  transition: top 0.25s ease-in;
}
.tms-admin-bar:hover {
  top: 0;
}
.tms-admin-bar > div {
  width: 790px;
  margin: 0 auto;
}
.tms-relative {
  position: relative;
}
#tms-manager-wrapper {
  position: absolute;
  top: 200px;
  left: 0;
  font-family: 'Open Sans';
  font-size: 11px;
  font-weight: 400;
}
#tms-manager-wrapper hr {
  margin: 2px 0;
  background-color: #c5c5c5;
}
#tms-menu-manager,
#tms-page-manager {
  position: absolute;
  z-index: 10001;
  top: 10px;
  left: 0;
  opacity: 0;
  width: 300px;
  height: auto;
  background-color: #20b2a8;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}
#tms-admin-tabs {
  position: absolute;
  z-index: 10000;
  left: -20px;
  top: 20px;
}
#tms-admin-tabs > div {
  clear: both;
  padding: 5px 8px 5px 340px;
  background-color: rgba(32, 178, 168, 0.9);
  color: #ffffff;
  width: 475px;
  font-weight: bold;
  margin-bottom: 3px;
  cursor: pointer;
}
.tms-tab {
  display: none;
}
.tms-tab.active {
  display: block;
}
.tms-manager-head {
  text-align: center;
  padding: 16px;
  border: 1px solid #c8c8c8;
  background-color: #dedede;
  background-image: -webkit-linear-gradient(-25deg, #f7f7f7 0%, #dedede 100%);
  background-image: -moz-linear-gradient(-25deg, #f7f7f7 0%, #dedede 100%);
  background-image: -o-linear-gradient(-25deg, #f7f7f7 0%, #dedede 100%);
  background-image: linear-gradient(115deg, #f7f7f7 0%, #dedede 100%);
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}
.tms-manager-body {
  margin-top: 15px;
  padding: 16px;
  border: 1px solid #c8c8c8;
  background-color: #dedede;
  background-image: -webkit-linear-gradient(-25deg, #f7f7f7 0%, #dedede 100%);
  background-image: -moz-linear-gradient(-25deg, #f7f7f7 0%, #dedede 100%);
  background-image: -o-linear-gradient(-25deg, #f7f7f7 0%, #dedede 100%);
  background-image: linear-gradient(115deg, #f7f7f7 0%, #dedede 100%);
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}
.tms-page-manager-nav {
  zoom: 1;
}
.tms-page-manager-nav:before {
  content: '';
  display: block;
}
.tms-page-manager-nav:after {
  content: '';
  display: table;
  clear: both;
}
.tms-page-manager-form .tms-two-column {
  height: 300px;
}
.tms-page-manager-slider {
  position: absolute;
  z-index: 10002;
  left: 290px;
  top: 25px;
  opacity: 0;
  width: 400px;
  padding: 16px;
  border: 1px solid #bababa;
  border-top: 8px solid #20b2a8;
  background-color: #f4f4f4;
  color: #a0a0a0;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}
.tms-page-manager-slider .tms-section-title {
  font-size: 16px;
  font-weight: 400;
  color: #868686;
}
.tms-page-manager-slider label {
  width: 100%;
  padding-top: 8px;
  margin: 0;
}
.tms-page-manager-slider .chosen-container,
.tms-page-manager-slider input,
.tms-page-manager-slider select,
.tms-page-manager-slider textarea {
  width: 100%;
  margin-bottom: 0;
}
.tms-page-manager-slider input,
.tms-page-manager-slider textarea {
  border-width: 0;
  height: 30px;
  color: #333;
  border: 1px solid #fafafa;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
}
.tms-page-manager-slider textarea {
  height: 60px;
}
.tms-page-manager-slider .active-result,
.tms-page-manager-slider .chosen-single {
  font-size: 11px;
}
.tms-page-manager-slider .active-result {
  color: #a0a0a0;
}
.tms-page-manager-slider .tms-delete-block {
  width: 100%;
  margin: 15px 0;
  zoom: 1;
}
.tms-page-manager-slider .tms-delete-block:before {
  content: '';
  display: block;
}
.tms-page-manager-slider .tms-delete-block:after {
  content: '';
  display: table;
  clear: both;
}
.tms-page-manager-slider .tms-delete-block label {
  float: left;
  width: auto;
  padding-top: 2px;
  padding-right: 10px;
}
.tms-page-manager-slider .tms-delete-block input {
  float: left;
  width: 30px;
}
.tms-page-manager-slider.tier-2 {
  top: 75px;
}
.tms-page-manager-slider .tms-link-type {
  display: none;
}
.tms-page-manager-slider .tms-link-type.active {
  display: block;
}
/*
Bootstrap v3 Overrides
 */
.form-control {
  height: auto;
}

h1, h2{font-size:36px}
.product-head-p{font-size:16px;}
h2.ptz.mb{font-size: 21px;line-height:1em;}