.row-fluid [class*="span"].tab-fr,
.row-fluid [class*="span"].dt-fr,
.row-fluid [class*="span"].fl {
  float: left;
}
.row-fluid [class*="span"].tab-fr,
.row-fluid [class*="span"].dt-fr,
.row-fluid [class*="span"].fr {
  float: right;
}
.row-fluid [class*="span"].reset-margin-left {
  margin-left: -20px;
}
.row-fluid [class*="span"].offset-margin-left {
  margin-left: 2.127659574468085%;
}
.fr {
  float: right;
}
.tac {
  text-align: center;
}
.tal {
  text-align: left;
}
.cursor {
  cursor: pointer;
}
body {
  padding-top: 127px;
  min-width: 700px;
  font-size: 16px;
  color: #707070;
}
p {
  margin-bottom: 30px;
  line-height: 1.5em;
}
section {
  border-bottom: 1px solid #ccc;
}
.light-gray {
  color: #999999;
}
ul li {
  list-style-type: disc;
  margin-bottom: 15px;
}
.list-unstyled {
  list-style-type: none;
}
.list-unstyled li {
  list-style-type: none;
}
.client-list ul li {
  list-style-type: none;
}
.client-list a {
  font-weight: bold;
}
h1,
h2,
h3 {
  font-weight: 100;
}
.fs13 {
  font-size: 13px;
}
.fs18 {
  font-size: 18px;
}
.fs16 {
  font-size: 16px;
}
.fs24 {
  font-size: 24px;
}
.fs28 {
  font-size: 28px;
}
.fs32 {
  font-size: 32px;
}
.lh15 {
  line-height: 1.5em;
}
.lh14 {
  line-height: 1.4em;
}
.lh13 {
  line-height: 1.3em;
}
.lh12 {
  line-height: 1.2em;
}
.lh11 {
  line-height: 1.1em;
}
.strong {
  font-weight: bold;
}
.section h3.product-title {
  float: left;
  font-size: 66px;
}
h3.product-description {
  line-height: 1.3em;
}
h2.client-headline {
  font-weight: 500;
  font-size: 30px;
  line-height: 1em;
}
h3 {
  line-height: 1em;
}
h6.client-about {
  font-size: 14px;
  text-transform: uppercase;
  color: #999999;
}
#main_menu {
  float: right;
  text-align: right;
}
#main_menu li {
  list-style-type: none;
}
.main_menu ul.sub-menu {
  background-color: #0276CE;
  color: #fff;
  top: 90px;
  padding: 5px 20px 0 20px!important;
}
.main_menu ul.sub-menu hr {
  background-color: #fff;
}
.main_menu ul.sub-menu li a {
  position: relative;
  color: #fff;
}
.main_menu ul.sub-menu li a:hover {
  color: #dcebfb;
}
.main_menu ul.sub-menu li a:hover:before {
  position: absolute;
  left: -10px;
  top: 5px;
  content: url('../images/sub-menu-arrow.gif');
}
.un-large {
  font-size: 120%;
}
.client-description p {
  font-size: 13px;
}
hr.thick {
  border: 2px solid #e5e5e5;
  border-width: 1px 0;
}
.btn-success.btn-flat {
  background-image: none;
  background-color: #8fc64f;
}
.title-video a {
  display: block;
  height: 200px;
}
.job-form {
  display: none;
  background-color: #F5F1EE;
  padding: 30px;
  border-radius: 5px;
}
.section.breadcrumbs .span2,
.section.breadcrumbs .span10 {
  padding: 30px 20px 0px 20px;
}
.section.post h3 {
  font-weight: bold;
}
blockquote {
  font-style: oblique;
  font-weight: bold;
  line-height: 1.5em;
  font-size: 28px;
}
.post-date {
  font-size: 16px;
}
.main_menu ul.sub-menu {
  width: 150px;
}
.small-case-study-grid,
.case-study-grid {
  width: 100%;
  text-align: center;
  margin-left: 0;
}
.small-case-study-grid > li > div,
.case-study-grid > li > div {
  text-align: center;
  width: auto;
  max-width: none;
  min-width: 0;
  margin: 0 0 0 -20px;
  padding: 20px 0;
}
.small-case-study-grid > li,
.case-study-grid > li {
  position: relative;
}
.small-case-study-grid > li:after,
.case-study-grid > li:after {
  position: absolute;
  top: 5%;
  right: 0;
  bottom: 5%;
  width: 1px;
  background-color: #ddd;
  content: "";
}
.case-study-grid > li:nth-child(7n+7) {
  margin-left: 0;
}
.case-study-grid > li:nth-child(6n+6):after {
  width: 0;
}
.case-study-grid > li:nth-child(1n+7) > div {
  border-top: 1px solid #ddd;
}
.small-case-study-grid {
  padding-top: 50px;
  margin-left: 0;
}
.small-case-study-grid > li:nth-child(3n+3) {
  margin-left: 0;
}
.small-case-study-grid > li:nth-child(2n+2):after {
  width: 0;
}
.small-case-study-grid > li:nth-child(1n+3) > div {
  border-top: 1px solid #ddd;
}
.clients-grid > div {
  margin-top: 25px;
}
.clients-grid > div:nth-child(3n+1) {
  margin-left: 0;
}
.awards-grid > div:nth-child(6n+1) {
  margin-left: 0;
}
.locations-grid > div:nth-child(3n+1) {
  margin-left: 0;
}
.partners-grid > div:nth-child(6n+1) {
  margin-left: 0;
}
.partners-grid > div {
  height: 100px;
}
.home-product-box .description {
  font-size: 13px;
  height: 90px;
}
.products-grid .description {
  height: 100px;
}
.products-grid .title,
.home-product-box .title {
  white-space: nowrap;
}
.un-center-addthis {
  width: 180px;
  margin: 0 auto;
}
#copyright {
  color: #999;
}
#footer-wrapper {
  font-size: 13px;
}
#main_navigation {
  overflow: visible;
}
.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 960px;
}
#top-menu,
#main_menu {
  min-width: 700px;
}
ul#main_menu li {
  margin-right: 0!important;
}
#top-wrapper section {
  padding: 0;
}
.small-logo {
  float: left;
  padding: 8px!important;
}
.posts-slice .post-date {
  font-size: 13px;
  line-height: 1.2em;
  white-space: nowrap;
}
.posts-slice .post-title {
  font-size: 14px;
  line-height: 1.2em;
}
.post-title p {
  line-height: 1em;
  margin-bottom: 10px;
}
.post-title p:first-child {
  font-size: 15px;
}
.news-index-title p,
.posts-slice .post-title p {
  margin-bottom: 10px;
}
.posts-slice .post-title p:nth-child(2) {
  font-weight: bold;
}
.news-index-title p:nth-child(1) {
  font-weight: normal;
}
.news-index-title p:nth-child(2) {
  font-size: 18px;
  line-height: 1.1em;
}
.missing-slice {
  background: #ffffff url('../images/404-background.jpg') no-repeat 0 50%;
  min-height: 800px;
  height: 100%;
}
.ux-slice a {
  color: #fff;
}
.video-launcher {
  margin-top: -80px;
  width: 100%;
  height: 330px;
  cursor: pointer;
}
.news-subnav {
  background-color: #ececec;
  padding: 15px 0 0 0;
}
.news-archives {
  margin-left: 0;
}
.news-archives li {
  float: left;
  margin-left: 30px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
}
.news-archives li:first-child {
  margin-left: 0;
}
.news-archives a {
  color: #414141;
  font-weight: bold;
}
.news-index-date {
  color: #a0a0a0;
  font-size: 14px;
  margin-bottom: 0px;
}
.panel {
  margin: 10px 0;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}
.panel-title {
  font-weight: bold;
  background-color: #ececec;
  height: 67px;
  line-height: 67px;
  padding: 0 15px;
  border-radius: 5px 5px 0 0;
}
.panel-body {
  padding: 10px 15px 20px;
  background-color: #f8f8f8;
  font-size: 13px;
}
.panel-body ul {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}
.panel-body ul li {
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  list-style-type: none;
  padding-bottom: 4px;
}
#modal-video {
  width: 680px;
  margin-left: -340px;
}
@media (min-width: 1200px) {
  .fr-wide {
    float: right;
  }
  #hero-nav .nav-item a {
    font-size: 16px;
  }
  .home-product-box .description {
    font-size: 15px;
    height: 120px;
  }
  .products-grid .description {
    height: 130px;
  }
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 1140px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .fr-dt {
    float: right;
  }
  #main_menu {
    margin-left: 0;
    padding-left: 0;
  }
  #main_menu li a {
    font-size: 12px;
  }
  #hero-nav .nav-item a {
    font-size: 12px;
  }
  .row-fluid .span-dt-12 {
    width: 100%;
    margin-left: 0;
  }
  .row-fluid .span-dt-2 {
    width: 20%;
  }
  .row-fluid .span-dt-3 {
    width: 23%;
  }
  .row-fluid .span-dt-4 {
    width: 30%;
  }
  .row-fluid .span-dt-6 {
    width: 48%;
  }
  .row-fluid .span-tab-10 {
    width: 80%;
  }
  .case-study-grid {
    padding-left: 10%;
  }
  .case-study-grid > li:nth-child(7n+7) {
    margin-left: 2.127659574468085%;
  }
  .case-study-grid > li:nth-child(6n+6):after {
    width: 1px;
  }
  .case-study-grid > li:nth-child(4n+1) {
    margin-left: 0;
  }
  .case-study-grid > li:nth-child(4n+4):after {
    width: 0;
  }
  .case-study-grid > li:nth-child(1n+5) > div {
    border-top: 1px solid #ddd;
  }
  .awards-grid > div:nth-child(4n+1) {
    margin-left: 0;
  }
  .awards-grid > div:nth-child(6n+1),
  .locations-grid > div:nth-child(3n+1) {
    margin-left: 2.127659574468085%;
  }
  .locations-grid > div:nth-child(2n+1) {
    clear: both;
    margin-left: 0;
  }
  .partners-grid > div:nth-child(3n+1) {
    margin-left: 0;
  }
  .home-product-box .description {
    height: 120px;
  }
  .products-grid .description {
    height: 140px;
  }
}
@media (max-width: 767px) {
  .fr-tab {
    float: right;
  }
  #main_menu {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  #main_menu li a {
    font-size: 12px;
  }
  #header #top-wrapper .links-list li a {
    padding: 15px 10px;
  }
  #hero-nav .nav-item a {
    font-size: 12px;
    line-height: 16px;
  }
  .row-fluid .span-tab-12 {
    width: 100%;
    margin-left: 0;
  }
  .row-fluid .span-tab-2 {
    width: 10%;
  }
  .row-fluid .span-tab-3 {
    width: 23%;
  }
  .row-fluid .span-tab-4 {
    width: 30%;
  }
  .row-fluid .span-tab-5 {
    width: 40%;
  }
  .row-fluid .span-tab-6 {
    width: 48%;
  }
  .row-fluid .span-tab-10 {
    width: 80%;
  }
  .case-study-grid {
    padding-left: 0;
  }
  .case-study-grid > li:nth-child(7n+7) {
    margin-left: 2.127659574468085%;
  }
  .case-study-grid > li:nth-child(6n+6):after {
    width: 1px;
  }
  .case-study-grid > li:nth-child(4n+1) {
    margin-left: 0;
  }
  .case-study-grid > li:nth-child(4n+4):after {
    width: 0;
  }
  .case-study-grid > li:nth-child(1n+4) > div {
    border-top: 1px solid #ddd;
  }
  .small-case-study-grid > li {
    margin-left: 0;
  }
  .small-case-study-grid > li:after {
    width: 0;
  }
  .small-case-study-grid > li:nth-child(1n+1) > div {
    border-top: 1px solid #ddd;
  }
  .awards-grid > div:nth-child(3n+1) {
    margin-left: 0;
  }
  .locations-grid > div:nth-child(3n+1) {
    margin-left: 2.127659574468085%;
  }
  .locations-grid > div:nth-child(2n+1) {
    clear: both;
    margin-left: 0;
  }
  .partners-grid > div:nth-child(3n+1) {
    margin-left: 0;
  }
  .products-grid .description {
    height: 150px;
  }
  .home-product-box .description {
    height: 110px;
  }
  blockquote {
    margin: 20px 20px 20px -100px;
  }
}
