.tms-editor {
	position:relative;
}

.tms-inline {
	cursor:pointer;

	&:hover {
		.lh-box-shadow(0px 0px 8px @active);
	}
}

.tms-active:hover {
	box-shadow:0px 0px 15px rgba(79, 205, 228, 1);
}

.tms-editor.tms-inline:after {
	display:inline-block;
	position:absolute;
	content: 'Editable';
	bottom:-10px;
	left:-60px;
	margin:6px;
	padding:4px;
	height:20px;
	line-height:20px;
	border-radius:4px;
	background-color:pink;
	color:#c7254e;
	opacity:0.6;
	font-weight:normal;
	font-size:11px;
}

.tms-editor-inline-blocker,
.tms-editor-popup-blocker {
	position:fixed;
	top:0;
	left:0;
	opacity:0;
	width:100%;
	height:100%;
	z-index:10000;

	/* Opinionated Styles */
	background-color:rgba(0,0,0,.8);
}
.tms-editor-popup {
	position:fixed;
	opacity:0;
	width:0;
	height:0;
	overflow:scroll;
	z-index:10002;

	/* Opinionated Styles */
	background-color:#eee;
	padding:20px;
	border-radius: 6px;
	border:8px solid #fff;
	max-height:80%;
}

.tms-editor-popup button,
.tms-editor-inline button {
	margin-right:5px;
}

/* Inline Styles */
.tms-editor-inline-blocker {
	background-color:transparent;
}

.tms-editor-inline {
	position:absolute;
	opacity:0;
	width:0;
	height:0;
	z-index:10001;
}

.tms-editor-inline-wrapper {
	display:table;
	width:100%;
	background-color:rgba(255,255,255,0.5);
	padding:15px;
	border:8px solid #fff;
	.lh-box-shadow(0px 0px 8px rgba(0,0,0,0.5));
}

.tms-editor-inline form {
	display:table-cell;
	vertical-align: middle;

	label,
	textarea,
	input,
	button {
		color:#444;
	}

	textarea,
	input {
		width:100%;
		padding:8px 10px;
	}

	input {
		height:auto;
	}

	input[type="file"]
	{
		width:100%;
		background-color:#fff;
		.lh-border-radius(3px);
		padding:10px;
	}

	button.tms-btn-danger,
	button.tms-btn-success {
		color:#fff;
	}

	button.tms-btn {
		&:hover {
			color:#444;
		}
	}
}

.tms-editor-popup form {

	.form-group {
		padding-bottom:15px;
	}

	textarea,
	input {
		color:#444;
	}

	label {
		font-weight:bold;
		font-size:10px;
		text-transform: uppercase;
		color:lighten(#444, 10%);
	}

	textarea,
	input {
		width:100%;
		padding:8px 10px;
	}

	input {
		height:auto;
	}

	input[type="file"]
	{
		width:100%;
		background-color:#fff;
		.lh-border-radius(3px);
		padding:10px;
	}

	button.tms-btn-danger,
	button.tms-btn-success {
		color:#fff;
	}

	button.tms-btn {
		&:hover {
			color:#444;
		}
	}

	.tms-link-type {
		display:none;

		&.active {
			display:block;
		}
	}
}

.tms-editor-inline label {
	background-color:rgba(255,255,255,0.75);
	font-weight:bold;
	padding:8px 15px;
	margin-bottom:0;
}

.tms-editor-dropzone {
	cursor:copy;
	margin-top:8px;
	width:100%;
	height:100px;
	background-color:#dff0d8;
	border:1px solid #d6e9c6;
	border-radius: 6px;
	color:#2b542c;
	text-align:center;
}

.tms-editor-dropzone h4 {
	line-height:80px;
	font-size:12px;
	text-transform: uppercase;
	text-shadow: -1px -1px -1px #000000;
}

.tms-editor-dropzone:hover{
	background-color:#d6e9c6;
}

.tms-editor-dropzone:hover h4 {
	color:#538c55;
}
