.tms-fr {
	float:right;
}

.tms-fl {
	float:left;
}

.tms-ml {
	margin-left:8px;
}
.tms-mr {
	margin-right:8px;
}
.tms-mt {
	margin-top:8px;
}
.tms-mb {
	margin-bottom:8px;
}

.tms-tal {
	text-align:left;
}

.tms-tar {
	text-align:right;
}

.tms-tac {
	text-align:center;
}

.tms-cursor {
	cursor:pointer;
}

.tms-clearfix() {
  zoom: 1;
  &:before { content: ''; display: block; }
  &:after { content: ''; display: table; clear: both; }
}

.tms-page-manager-box() {
	.lh-background-image(linear-gradient(115deg, #f7f7f7 0%,#dedede 100%));
	.lh-box-shadow(0px 0px 8px rgba(0,0,0,0.1));
}

form {
	.tms-actions {
		padding-top:15px;
	}
}

.tms-two-column {
	.lh-column-count(2);

	> div {
		-webkit-column-break-inside:avoid;
		-moz-column-break-inside:avoid;
		-o-column-break-inside:avoid;
		-ms-column-break-inside:avoid;
		column-break-inside:avoid;

		display: inline-block;
	}
}

.tms-btn-info,
.tms-btn-danger,
.tms-btn-success,
.tms-btn {
	text-transform: uppercase;
	color:@inactiveText;
	background-color:@inactive;
	border-width:0;
	font-weight:bold;
	font-size:10px;
	padding:3px 6px 4px;
	cursor:pointer;

	.lh-border-radius(3px);

	&:hover {
		background-color:#fafafa;
	}
}

.tms-btn-info {
	color:@activeText;
	background-color:@active;

	&:hover {
		background-color:lighten(@active, 8%);
	}
}

.tms-btn-success {
	color:#fff;
	background-color:#5f941b;

	&:hover {
		background-color:#73aa2b;
	}
}


.tms-btn-danger {
	color:#fff;
	background-color:#be723f;

	&:hover {
		background-color:#ed7d32;
	}
}


.tms-item-list,
.tms-list-unstyled {
	margin-left:0;
	padding-left:0;
	list-style-type:none;

	> li {
		margin-left:0;
		list-style-type:none;
		margin-bottom:0;
	}
}

.tms-item-list {
	li {
		border-bottom:#e4e4e4 1px solid;
		background-color:#fafafa;
		color:#919191;

		.tms-clearfix();

		&:first-child{
			clear:both;
			.lh-border-radius(3px 3px 0 0);
		}

		&:last-child{
			border-bottom-width:0;

			.lh-border-radius(0 0 3px 3px);
		}

		div {
			padding:7px 12px;
			height:40px;
			line-height:25px;
			border-left:5px solid @active;
		}

		> div:hover {
			background-color:@active;
			color:@activeText;

			> span.tms-btn {
				background-color:#fff;
				cursor:pointer;
			}
		}

		&.tms-break {
			background-color:darken(#fafafa, 10%);
			border-bottom-color:#fafafa;
		}

		ul {
			clear:both;
			list-style-type:none;
			margin-left:10px;

			li {
				list-style-type: none;
			}
		}
	}
}

.tms-section-title {
	font-size:12px;
	text-transform: uppercase;
	font-weight: bold;
	color:@inactiveText;
}

.tms-alert {
	background-color:#e9c3c3;
	color:#5e2020;
	padding:7px 12px;
	border:1px solid lighten(#5e2020, 30%);
	margin-bottom:15px;

	h4 {
		font-size:13px;
		font-weight:600;
	}
}