.tms-admin-bar {
	position:fixed;
	z-index:11000;
	top:-25px;
	width:100%;
	height:40px;
	padding:10px 0;
	background-color:#fafafa;

	transition: top 0.25s ease-in;

	&:hover {
		top:0;
	}

	> div {
		width:790px;
		margin:0 auto;
	}
}

.tms-relative {
	position:relative;
}

#tms-manager-wrapper {
	position:absolute;
	top:200px;
	left:0;
	font-family:@fontFamily;
	font-size:11px;
	font-weight:400;

	hr {
		margin:2px 0;
		background-color: darken(#dedede, 10%);
	}
}

#tms-menu-manager,
#tms-page-manager {
	position:absolute;
	z-index:10001;
	top:10px;
	left:0;
	opacity:0;
	width:300px;
	height:auto;
	background-color:@active;

	.lh-box-shadow(0px 0px 15px rgba(0,0,0,0.3));
}

#tms-admin-tabs {
	position:absolute;
	z-index:10000;
	left:-20px;
	top:20px;

	> div {
		clear:both;
		padding:5px 8px 5px 340px;
		background-color:fade(@active, 90%);
		color:@activeText;
		width:475px;
		font-weight:bold;
		margin-bottom:3px;
		cursor:pointer;
	}
}

.tms-tab {
	display:none;

	&.active {
		display:block;
	}
}

.tms-manager-head {
	text-align: center;
	padding:16px;
	border: 1px solid #c8c8c8;
	background-color:#dedede;

	.tms-page-manager-box();
}

.tms-manager-body {
	margin-top:15px;
	padding:16px;
	border: 1px solid #c8c8c8;
	background-color:#dedede;

	.tms-page-manager-box();
}

.tms-page-manager-nav
{
	.tms-clearfix();
}

.tms-page-manager-form {
	.tms-two-column {
		height:300px;
	}
}

.tms-page-manager-slider {
	position:absolute;
	z-index: 10002;
	left: 290px;
	top:25px;
	opacity:0;
	width:400px;
	padding:16px;
	border: 1px solid darken(#d3d3d3, 10%);
	border-top:8px solid @active;
	background-color:lighten(#d3d3d3, 13%);
	color:darken(#d3d3d3, 20%);
	font-weight:400;
	text-transform: uppercase;

	.lh-box-shadow(0px 0px 30px rgba(0,0,0,0.3));

	.tms-section-title {
		font-size:16px;
		font-weight:400;
		color:darken(#d3d3d3, 30%);
	}

	label {
		width:100%;
		padding-top:8px;
		margin:0;
	}

	.chosen-container,
	input,
	select,
	textarea{
		width:100%;
		margin-bottom:0;
	}

	input,
	textarea {
		border-width:0;
		height:30px;
		color:#333;
		border:1px solid #fafafa;
		.lh-box-sizing(border-box);
		.lh-border-radius(3px);
	}

	textarea {
		height:60px
	}

	.active-result,
	.chosen-single {
		font-size:11px;
	}

	.active-result {
		color:darken(#d3d3d3, 20%)
	}

	.tms-delete-block {
		width:100%;
		margin:15px 0;

		.tms-clearfix();

		label {
			float:left;
			width:auto;
			padding-top:2px;
			padding-right:10px;
		}
		input{
			float:left;
			width:30px;
		}
	}

	&.tier-2{
		top:75px;
	}

	.tms-link-type {
		display:none;

		&.active {
			display:block;
		}
	}
}



